:root {
    --team-color: #990000;
    --light-gray: #F3F3F3;
    --side-bar: 400px;
    --mobile-size: 900px;
}

* {
    /* This makes size work properly, should be default */
    box-sizing: border-box !important;
}

html, body {
    margin: 0px;
    height: 100%;

    display: flex;
    flex-direction: column;

    overflow-x: hidden;
}

body {
    background-color: var(--light-gray);
}

/* header */

.theme5419-header {
    flex-shrink: 0;

    display: flex;
    flex-direction: row;

    width: 100%;
}

.theme5419-header-left {
    background-color: var(--team-color);
    width: var(--side-bar);
    text-align: center;
}

.theme5419-header-logo {
    height: 1.5in;
}

.theme5419-header-triangle {
    height: 100%;
    float: left;
    z-index: -1;
}

.theme5419-header-content {
    background-color: var(--team-color);

    flex: 1 0 auto;

    padding: 10;

    margin-left: -1in;
    margin-right: -1in;

    height: 1in;

    text-align: center;

    padding-top: 65px;
}

.theme5419-header-content span {
    font-family: 'Righteous', sans-serif;
    font-variant: bold;
    font-size: 18px;
    font-weight: 700;
    color: var(--light-gray);
    padding-left: 10px;
    padding-right: 10px;
}

.theme5419-header-right {
    background-color: var(--team-color);
    width: var(--side-bar);
    text-align: center;
    padding-top: 10px;
}

.theme5419-header-page {
    font-family: 'Righteous', sans-serif;
    font-size: 72px;
    color: var(--light-gray);
    margin: auto;
}

.theme5419-header-search {
    padding: 10px;
}

.theme5419-header-search input {
    width: calc(100% - 35px);
    float: left;
}

.theme5419-header-search button {
    width: 30px;
    float: left;
}

/* main content */

.theme5419-content {
    flex: 1 0 auto;
}

@media screen and  (min-width: 900px) {
    .theme5419-content {
        margin: 0px calc(var(--side-bar) + 1in);
    }
}

@media screen and (max-width: 900px) {
    .theme5419-content {
        margin: 5px;
    }
}

/* footer */

.theme5419-footer {
    flex-shrink: 0;

    background-color: var(--team-color);
    height: 1in;
}